<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'fav_.png' %}"/>
    <link rel="apple-touch-icon" href="{% static 'fav_.png' %}" >
    <title>{% block pagetitle %}{% endblock %}</title>
     <!-- CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
        <header class="border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <div class="fs-2 mb-3">
                    <img src="{% static 'Flag.svg' %}" alt="Изучение английского языка" width="32" height="32"/>
                    <span>Изучение английского языка</span>
                </div>
<!--                <input href="/sign_in" type="button" value="Зарегистрироваться" style="float: right;" class="btn btn-primary">-->
            </a>
            <div class="fs-2 mb-3">
                <a href="/sign_in" class="btn btn-primary" style="float: right;">
                    Зарегистрироваться
                </a>
            </div>
        </header>
        <div class="p-5 mb-4 bg-light rounded-3" id="title-box">
            <div class="container-fluid py-5">
                <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>
                <p class="col-md-8 fs-4">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© 2023</footer>
    </div>
</main>
</body>
</html>