{% extends "base_page.html" %}

{% block pagetitle %}
Cards
{% endblock %}

{% block page-title %}
<p style="font-size:50px;">Слова по карточкам </p>
{% endblock %}

{% block page-lead %}
<!--Список всех уроков, слов и их переводов-->
<p class="fst-italic" style="font-size:25px;">Изучение новых слов с помощью карточек с иллюстрациями </p>
{% endblock %}

{% block content %}
<p id="test_text" style="font-size:25px;"></p>
<script>
    const test_text = document.getElementById('test_text');
    console.warn('lesson_id = ' + sessionStorage.getItem('lesson_id'));
    test_text.textContent = sessionStorage.getItem('lesson_id');
</script>
{% endblock %}