{% extends "base_page.html" %}

{% block pagetitle %}
All lessons
{% endblock %}

{% block page-title %}
<p style="font-size:50px;">Список слов по урокам </p>
{% endblock %}

{% block page-lead %}
<!--Список всех уроков, слов и их переводов-->
<p class="fst-italic" style="font-size:25px;">Список всех уроков, слов и их переводов </p>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
<!--        <table class="table table-striped table-sm">-->
        <style>
            .tb { border-collapse: collapse; }
            .tb th, .tb td { padding: 5px; border: solid 1px #777; }
            .tb th { background-color: lightblue; }
        </style>

        <table class="tb" width="100%">
          <thead>
            <tr>
              <th scope="col" class="py-3">Номер урока</th>
              <th scope="col" class="py-3">Тема урока</th>
              <th scope="col" class="py-3">Слово</th>
              <th scope="col" class="py-3">Перевод</th>
            </tr>
          </thead>
          <tbody>
            {% for id, topic, word, translation in words %}
            <tr>
                <td class="py-3">{{ id }}</td>
                <td class="py-3">{{ topic }}</td>
                <td class="py-3">{{ word }}</td>
                <td class="py-3">{{ translation }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
