{% extends "base_page.html" %}

{% block pagetitle %}
Results
{% endblock %}

{% block page-title %}
<p style="font-size:50px;">Статистика по терминам </p>
{% endblock %}

{% block page-lead %}
<p class="fst-italic" style="font-size:25px;">Здесь Вы можете ознакомиться со своими результатами после прохождения тестов </p>
{% endblock %}

{% block content %}
<div class="container px-3 py-5" id="stats">
    <div>
        <h3 class="px-1">Количество пройденных тестов</h3>
    </div>
        <div class="row text-center">
            <h4>{{ terms_added }}</h4>
<!--            <p class="text-muted">добавленных через <a href="/add-term">форму добавления термина</a></p>-->
        </div>
    </div>
    <div>
        <h3 class="px-3">Результаты</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ words_avg }}</h4>
            <p class="text-muted">средний балл</p>
        </div>
        <div class="col-sm-4">
            <h4>{{ words_max }}</h4>
            <p class="text-muted">максимум</p>
        </div>
        <div class="col-sm-4">
            <h4>{{ words_min }}</h4>
            <p class="text-muted">минимум</p>
        </div>
    </div>
</div>
{% endblock %}

